In [ ]:
pip insta

In [2]:
import pywhatkit as whastapp

ModuleNotFoundError: No module named 'pywhatkit'

In [2]:
a=10
b= 'tirumal'
c= 0.8
print(a,b,c)

10 tirumal 0.8

In [3]:
'''if condition:
    statement
elif condition:
    statement
else:'''

'if condition:\n    statement\nelif condition:\n    statement\nelse:'

In [5]:
#list
list1= [1,2,3,4,65,6,'dfr']
print(list1)

[1, 2, 3, 4, 65, 6, 'dfr']

In [8]:
for i in list1:
    print(i)

1
2
3
4
65
6
dfr

In [12]:
for i in range(len(list1)):
    print(i,list1[i])

0 1
1 2
2 3
3 4
4 65
5 6
6 dfr

In [13]:
#range(0,5) [0,1,2,3,4]
#range(0,10,2) [0,2,4,6,8]
#range(10,0,-2) [10,8,6,4,2]
#range(5) [0,1,2,3,4]
#range(4,10) [4,5,6,7,8,9]

In [14]:
'''while condition:
    statement'''

'while condition:\n    statement'

In [20]:
for i in range(15,17):
    print(i)
    if i>15:
        print("in 15-20")
    if(i>20):
        print("in 20")
else:
    print("in for else")

15
16
in 15-20
in for else

In [26]:
a=input()
print(a,type(a))#str type
b=int(input()) #int_type
print(b,type(b))

10
10 <class 'str'>
10
10 <class 'int'>

In [27]:
print(a)
print('tirumal',a)

10
tirumal 10

In [30]:
a = (1,2,3)
print(a)
b= list(a)
print(b)

(1, 2, 3)
[1, 2, 3]

In [34]:
#slicing [extract sublist from the main list]
l=[1,2,3,4,5,6]
l[0:3] #[1,2,3]
l[:]#[1,2,3,4,5,6]
l[3:5] #[4,5]
l[:-1]#[6]
l[:-3]#[6,5]
l[0,5,2]#[0,2,4]

[1, 2, 3]

In [37]:
#map(function,iterator[list])
l2=[2.0,3.0,6.0]
v= list(map(int,l2))
v

[2, 3, 6]

In [44]:
#split() (;)
f = 'kjh; kju ;oiu'
f.split(";")

['kjh', ' kju ', 'oiu']

In [41]:
l2 = list(map(int,input().split()))

5 6 4 7 8

In [2]:
l=[1,2,3,4,5]
l.append(6) #[1,2,3,4,5,6]
l.pop()#[1,2,3,4,5]
l.pop(0)#[2,3,4,5]
l.index(2) #[1]
l.remove(3)#[1,2,4,5]

0

# Python program to check whether a number is Prime or not

In [3]:
'''prime number is divisible by 0 and that number  ex: 2,3,5,7,11,13,17,23..'''

'prime number is divisible by 0 and that number  ex: 2,3,5,7,11,13,17,23..'

In [15]:
def prime(a):
    for i in range(2,a):
        if a%i == 0:
            #print("yes")
            return False
    else:
        return True

#if no condition satisfied by for loop else will execute

In [17]:
for i in range(2,100):
    if prime(i) == True:
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Python Program for factorial of a number

In [18]:
''' 5= 5*4*3*2*1....o/p=120'''
#0! = 0

' 5= 5*4*3*2*1....o/p=120'

In [20]:
a=int(input())
out=1
for i in range(1,a+1):
    out*=i #out = out*i 1,2,6,24,120
print(out)

5
120

# Python Program for Sum of squares of first n natural numbers

In [2]:
a=int(input())
for i in range(1,a):
    print(i,"-->",i*i)

5
1 --> 1
2 --> 4
3 --> 9
4 --> 16

# Python Program to find sum of list

In [6]:
l1 = list(map(int,input().split()))
#print(sum(l1))
sumn=0
for i in l1:
    sumn+=i
    print(sumn)
print("total: " ,sumn)

1 2 5 4 6 8
1
3
8
12
18
26
total:  26

# Python Program to find largest element in an array

In [7]:
# max(l1) ==> 8
# min(l1) ==>1
max = l1[0]
for i in l1:
    if max<i:
        max = i
print(max)

8

# Python | Reversing a List

In [12]:
l1[::-1]

[8, 6, 4, 5, 2, 1]

# Python program to print all even numbers in a range

In [34]:
a=int(input("range:"))
for i in range(1,a):
    if i%2==0:
        print(i)

range:5
2
4

# Python program to interchange first and last elements in a list

In [25]:
l1=[1,2,3,4,5]
l1[0],l1[-1]=l1[-1],l1[0]
print(*l1)

5 2 3 4 1

In [ ]:
'''# Given 2 numbers N,K and an array of N integers, find if the element K exists in the array.
Input Size : N <= 100000
Sample Testcase :
INPUT
5 2
1 2 3 4 5
OUTPUT
yes'''

In [ ]:
# input:m n   output:m n

In [2]:
a,b=input().split()
print(a,b)

m n
m n

In [15]:
try:
    a=int(input())
    l1=list(map(int,input().split()))[:a]
    print(l1.index(max(l1))-l1.index(min(l1)))
    
except Exception as err:
    print(" poda bunde ")

5
1 2 4 7 2
3

# print()

In [21]:
print('a',end =" ")
print('b')

a b

In [29]:
l1=[1,2,3]
print(*l1)

1 2 3

In [30]:
l1=[1,2,3]
print(*l1,sep="->")

1->2->3

In [9]:
l1=[5,4,2,7,8,1]
print(sorted(l1,reverse = True))

[8, 7, 5, 4, 2, 1]

In [21]:
a,b=map(int,input().split())
l1=list(map(int,input().split()))
l2=(sorted(l1[:b])+sorted(l1[b:],reverse=True))
print(*l2)

5 2
4 3 1 2 4
3 4 4 2 1

In [ ]:
l1=list(map(int,input().split()))
a=int(input())
for i in l1:
    if a==l1:
        print('yes')
    else:
        print('no')

In [3]:
def catalan_rec(n):
    if n == 0:
        return 1
    else:
        b = 0
        for i in range (n):
            b += sum((catalan_rec(i))*(catalan_rec(n-1-i)))
    return b
print(catalan_rec(3))

TypeError: 'int' object is not iterable

In [10]:
def count(a):
    for i in a:
        coun = a.count(i)

2
4

In [14]:
occurrences = lambda s, lst: (i for i,e in enumerate(lst) if e == s)
a = list(input())
for i in a:
    print(i,sum(list(occurrences(i, list(a)))))

vivekanand
v 2
i 1
v 2
e 3
k 4
a 12
n 14
a 12
n 14
d 9

In [19]:
occurrences = lambda s, lst: (i for i,e in enumerate(lst) if e == s)
print('a',sum(list(occurrences('a', 'vivekanand'))))

a 12

# FUNCTION

In [1]:
#GROUP OF CODE TO PERFORM SECIPIC TASKS

In [2]:
#def function_name(parameters):
    #code
    #return (if needed)

In [7]:
def sum(a,b):
    return a+b
c = sum(3,4)
print(c)

7

In [10]:
def reversee(list1):
    return list1[::-1]
l1 = [1,2,3,4,5]
reversee(l1)

[5, 4, 3, 2, 1]


# dictionary

In [20]:
#set of key value pair
dict2 = {'a':1,'b':2}
print(dict2.keys())
print(dict2.values())
print(dict2.items())

dict_keys(['a', 'b'])
dict_values([1, 2])
dict_items([('a', 1), ('b', 2)])

In [1]:
l1=[1,2,2,3,3,3]
print(l1.count(3))

3

In [13]:
a,b=map(int,input().split())
l1=list(map(int,input().split()))[:a]
if b in l1:
    print('yes')
else:
    print('no')

4 2
1 2 3 2
yes

In [ ]:
a=int(input())
l1=list(map(int,input().split()))[:a]
l2=[]
for i in l1:
    if i%2==0:
        l2.append(i)
    else:
        l3.append(i)
l4=l3+

In [1]:
l1=[]
a=int(input())
for i in range(a):
    n = int(input())
    local_list = sorted(list(map(int,input().split())))[:n]
    l1 += local_list
print(*l1)

3
2
14 94
3
10 15 20
5
5 1 2 4 3
[14, 94, 10, 15, 20, 1, 2, 3, 4, 5]

In [4]:
a=int(input())
l1=list(map(int,input().split()))[:a]
c=sum(l1)
if(c%2==0 and c%3==0  ) and c%5==0:
    print('1')
else:
    print('0')

5
5 25 35 -5 30
1

In [ ]:
def dec(l1):
    c=sum(l1)
    if(c%2==0 and c%3==0  ) and c%5==0:
        return 1
    else:
        return 0
a=int(input())
l1=list(map(int,input().split()))[:a]
print(dec(l1))

In [6]:
a=int(input())
list1 = input().split()
d = {}
for i in range(0,len(list1),2):
    d[list1[i]] = int(list1[i+1])
print(d)
list2 = sorted(map(int,list1[::-2]))
for key in list2:
    print(list1[list1.index(str(key))-1],end =" ")

3
thirumal 81734 sridharshini_loves  12343
{'thirumal': 81734, 'sridharshini_loves': 12343}
sridharshini_loves thirumal

In [6]:
a=int(input())
list1 = input().split()
d = {}
for i in range(0,len(list1),2):
    print("key:",list1[i],"value:",list1[i+1])

3
Karthik 23000 rohan 81734 varshini 12343
key: Karthik value: 23000
key: rohan value: 81734
key: varshini value: 12343

In [4]:
a=int(input())
l1=list(map(int,input().split()))[:a]
l2=list(map(int,input().split()))[:a]
h=0
for i in l1:
    if i in l2:
        h=1
        l2.remove(i)
        print(i)
if h == 0:
    print("-1")

5
1 2 3 4 4
5 6 7 8 9
-1

In [11]:
a=int(input())
l1=list(map(int,input().split()))[:a]
if sum(l1[:3])==sum(l1[:-4:-1]):
    print('1')
else:
    print('0')

7
1 2 3 4 6 0 0
1

In [12]:
def revw(a,l1):
    if sum(l1[:3])==sum(l1[:-4:-1]):
        return '1'
    else:
        return '0'
a=int(input())
l1=list(map(int,input().split()))[:a]
print(revw(a,l1))

7
1 2 3 4 6 0 0
1

In [1]:
s,b=input().split()
b=int(b)
for i in range(b):
    s = s[-1] + s[:-1]
print(s)

hello 3
llohe

In [4]:
a=int(input())
l1=list(map(int,input().split()))[:a]
c=max(l1)
print(l1.index(c))

8
1 6 5 3 2 4 10 12
7

In [3]:
a=input()
l1=list(a.split())
print(*l1[::-1])

i am jsb
jsb am i

In [2]:
a=input('k= ')
list1=[]
for i in range(int(a)):
    li=list(map(int,input().split()))
    list1+=li
print(sorted(list1))

k= 3
1 3
7 8 9 4
2 5 3
[1, 2, 3, 3, 4, 5, 7, 8, 9]

In [1]:
l1=list(map(int,input().split()))
print(min(l1))

2 23
2

In [3]:
a=int(input())
if a==0:
    print('Zero')
elif a%2==0:
    print('Even')
else:
    print('Odd')

3
Odd

In [12]:
a=input()
  
print(len(b)

SyntaxError: unexpected EOF while parsing (<ipython-input-12-96967ead4c4c>, line 3)

In [1]:
a=int(input())
for i in range(5):
    print(a)

4
4
4
4
4
4

In [2]:
a,n=map(int,input().split())
for i in range(n):
    print(a)

2 3
2
2
2

In [16]:
a=int(input())
k=1
for i in range(a+1):
    k+=1
    if k%2==0:
        print(i)

6
0
2
4
6

In [18]:
a,n=map(int,input().split())
print(int(a*n/2))

2 4
4

In [7]:
a,b=map(int,input().split())
if (a+b)%2==0:
    print('even')
else:
    print('odd')

9 2
odd

In [14]:
a=int(input())
i=1
for i in range(a):
    print(i+1)

5
1
2
3
4
5

In [22]:
l1=[int(i) for i in range(int(input()))]
print(sum(l1))

10
45

# OOPS

In [ ]:
#CLASS AND OBJECTS
'''A class is a blueprint for the object.
An object (instance) is an instantiation of a class

Inheritance
Inheritance is a way of creating a new class for using details of an existing class without modifying it.
The newly formed class is a derived class (or child class). Similarly, the existing class is a base class (or parent class).'''