In [2]:
a=10
b= 'tirumal'
c= 0.8
print(a,b,c)

10 tirumal 0.8

In [3]:
'''if condition:
    statement
elif condition:
    statement
else:'''

'if condition:\n    statement\nelif condition:\n    statement\nelse:'

In [5]:
#list
list1= [1,2,3,4,65,6,'dfr']
print(list1)

[1, 2, 3, 4, 65, 6, 'dfr']

In [8]:
for i in list1:
    print(i)

1
2
3
4
65
6
dfr

In [12]:
for i in range(len(list1)):
    print(i,list1[i])

0 1
1 2
2 3
3 4
4 65
5 6
6 dfr

In [13]:
#range(0,5) [0,1,2,3,4]
#range(0,10,2) [0,2,4,6,8]
#range(10,0,-2) [10,8,6,4,2]
#range(5) [0,1,2,3,4]
#range(4,10) [4,5,6,7,8,9]

In [14]:
'''while condition:
    statement'''

'while condition:\n    statement'

In [20]:
for i in range(15,17):
    print(i)
    if i>15:
        print("in 15-20")
    if(i>20):
        print("in 20")
else:
    print("in for else")

15
16
in 15-20
in for else

In [26]:
a=input()
print(a,type(a))#str type
b=int(input()) #int_type
print(b,type(b))

10
10 <class 'str'>
10
10 <class 'int'>

In [27]:
print(a)
print('tirumal',a)

10
tirumal 10

In [30]:
a = (1,2,3)
print(a)
b= list(a)
print(b)

(1, 2, 3)
[1, 2, 3]

In [34]:
#slicing [extract sublist from the main list]
l=[1,2,3,4,5,6]
l[0:3] #[1,2,3]
l[:]#[1,2,3,4,5,6]
l[3:5] #[4,5]
l[:-1]#[6]
l[:-3]#[6,5]
l[0,5,2]#[0,2,4]

[1, 2, 3]

In [37]:
#map(function,iterator[list])
l2=[2.0,3.0,6.0]
v= list(map(int,l2))
v

[2, 3, 6]

In [44]:
#split() (;)
f = 'kjh; kju ;oiu'
f.split(";")

['kjh', ' kju ', 'oiu']

In [41]:
l2 = list(map(int,input().split()))

5 6 4 7 8